/**/

html,
body {
    overflow: hidden;
}

html,
body,
div.application,
main.content {
    overflow: hidden;
    height: 100vh;
}

p {
    margin-bottom: 0px;
}

main.content.route--scrollable > div.content--wrap {
    overflow-y: auto;
}


/*
	SCROLLBAR
*/

.scrollbar-mini::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

.scroll-x.scrollbar-mini::-webkit-scrollbar {
    height: 4px;
}

.scroll-y.scrollbar-mini::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-small::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.scroll-x.scrollbar-small::-webkit-scrollbar {
    height: 8px;
}

.scroll-y.scrollbar-small::-webkit-scrollbar {
    width: 8px;
}

.theme--light.scrollbar-mini::-webkit-scrollbar-thumb,
.theme--light.scrollbar-small::-webkit-scrollbar-thumb,
.theme--light .scrollbar-mini::-webkit-scrollbar-thumb,
.theme--light .scrollbar-small::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.theme--dark.scrollbar-mini::-webkit-scrollbar-thumb,
.theme--dark.scrollbar-small::-webkit-scrollbar-thumb,
.theme--dark .scrollbar-mini::-webkit-scrollbar-thumb,
.theme--dark .scrollbar-small::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


/*
	TEXT - THEME LIGHT
*/

.theme--light.text,
.theme--light .text {
    color: black !important;
    opacity: 0.87 !important;
}

.theme--light.text--light,
.theme--light .text--light {
    color: black !important;
    opacity: 0.54 !important;
}

.theme--light.text--lighter,
.theme--light .text--lighter {
    color: black !important;
    opacity: 0.38 !important;
}

.theme--light.text--lightest,
.theme--light .text--lightest {
    color: black !important;
    opacity: 0.2 !important;
}

.theme--light .bg-dim {
    background-color: rgba(0, 0, 0, 0.33);
}

.theme--light .divider--light {
    background-color: rgba(0, 0, 0, 0.54);
}

.theme--light .divider--lighter {
    background-color: rgba(0, 0, 0, 0.38);
}


/*code.theme--light,
.theme--light code {
    color: black !important;
    opacity: 0.2 !important;
}*/


/*
	TEXT - THEME DARK
*/

.theme--dark.text,
.theme--dark .text {
    color: white !important;
}

.theme--dark.text--light,
.theme--dark .text--light {
    color: white !important;
    opacity: 0.8 !important;
}

.theme--dark.text--lighter,
.theme--dark .text--lighter {
    color: white !important;
    opacity: 0.66 !important;
}

.theme--dark.text--lightest,
.theme--dark .text--lightest {
    color: white !important;
    opacity: 0.33 !important;
}

.theme--dark.bg-dim,
.theme--dark .bg-dim {
    background-color: rgba(0, 0, 0, 0.5);
}

.theme--dark.divider--light,
.theme--dark .divider--light {
    background-color: rgba(255, 255, 255, 0.7);
}

.theme--dark.divider--lighter,
.theme--dark .divider--lighter {
    background-color: rgba(255, 255, 255, 0.5);
}


/**/

