/**/

html,
body,
div.application,
main.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/**/

p {
    margin-bottom: 0px;
}

code {
    color: inherit;
    margin-left: 2px;
    margin-right: 2px;
}


/*
	VUETIFY
*/


/*ul.list:not(.list--two-line):not(.list--three-line) div.list__tile__title ~ div.list__tile__sub-title,
ul.list:not(.list--two-line):not(.list--three-line) div.list__tile__sub-title ~ div.list__tile__title {
    background-color: red !important;
}*/


/*
	SCROLLING
*/


/*main.content nav.toolbar.toolbar--fixed ~ div.container {
    overflow-x: auto;
}*/

main.content nav.toolbar.toolbar--fixed ~ div.container.container--scrollable {
    height: 100%;
    overflow-y: auto;
}


/**/

.scrollbar-mini::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

.scroll-x.scrollbar-mini::-webkit-scrollbar {
    height: 4px;
}

.scroll-y.scrollbar-mini::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-small::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.scroll-x.scrollbar-small::-webkit-scrollbar {
    height: 8px;
}

.scroll-y.scrollbar-small::-webkit-scrollbar {
    width: 8px;
}


/*div.container.container--scrollable::-webkit-scrollbar-thumb,*/

.theme--light.scrollbar-mini::-webkit-scrollbar-thumb,
.theme--light.scrollbar-small::-webkit-scrollbar-thumb,
.theme--light .scrollbar-mini::-webkit-scrollbar-thumb,
.theme--light .scrollbar-small::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.theme--dark.scrollbar-mini::-webkit-scrollbar-thumb,
.theme--dark.scrollbar-small::-webkit-scrollbar-thumb,
.theme--dark .scrollbar-mini::-webkit-scrollbar-thumb,
.theme--dark .scrollbar-small::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.12);
}


/*
	TEXT - THEME LIGHT
*/

.theme--light.text,
.theme--light .text {
    color: black !important;
    opacity: 0.87 !important;
}

.theme--light.text--light,
.theme--light .text--light {
    color: black !important;
    opacity: 0.54 !important;
}

.theme--light.text--lighter,
.theme--light .text--lighter {
    color: black !important;
    opacity: 0.38 !important;
}

.theme--light.text--lightest,
.theme--light .text--lightest {
    color: black !important;
    opacity: 0.2 !important;
}

code.theme--light,
.theme--light code {
    /*background-color: rgba(0, 0, 0, 0.12);*/
    /*background-color: #fafafa;*/
}

.theme--light .bg-dim {
    background-color: rgba(0, 0, 0, 0.33);
}

.theme--light .divider--light {
    background-color: rgba(0, 0, 0, 0.54);
}

.theme--light .divider--lighter {
    background-color: rgba(0, 0, 0, 0.38);
}


/*
	TEXT - THEME DARK
*/

.theme--dark.text,
.theme--dark .text {
    color: white !important;
}

.theme--dark.text--light,
.theme--dark .text--light {
    color: white !important;
    opacity: 0.8 !important;
}

.theme--dark.text--lighter,
.theme--dark .text--lighter {
    color: white !important;
    opacity: 0.66 !important;
}

.theme--dark.text--lightest,
.theme--dark .text--lightest {
    color: white !important;
    opacity: 0.33 !important;
}

code.theme--dark,
.theme--dark code {
    background-color: rgb(48, 48, 48);
}

.theme--dark.bg-dim,
.theme--dark .bg-dim {
    background-color: rgba(0, 0, 0, 0.5);
}

.theme--dark.divider--light,
.theme--dark .divider--light {
    background-color: rgba(255, 255, 255, 0.7);
}

.theme--dark.divider--lighter,
.theme--dark .divider--lighter {
    background-color: rgba(255, 255, 255, 0.5);
}


/**/

